<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Trip Arabia | Travel & Tourism</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="app/css/app.css">
    <link rel="stylesheet" href="app/css/jquery.fancybox.min.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="https://www.trip-arabia.com/public/assets/images/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon-precomposed" href="https://www.trip-arabia.com/public/assets/images/favicons/favicon-32x32.png">

</head>

<body class="body header-fixed ">

    <div class="preload preload-container">
        <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
            <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        </svg>
    </div>

    <!-- /preload -->

    <div id="wrapper">
        <div id="pagee" class="clearfix">

            <%-include('../layouts/user/header.ejs')%>

            <main id="main">

                <section class="breadcumb-section" style="background-image: url('./assets/images/page/Untitled\ design\ \(72\).jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 137px 0px 135px 0px">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-12 center z-index1">
                                <h1 class="title">Services</h1>
                                <ul class="breadcumb-list flex-five">
                                    <li><a href="index.html">Home</a></li>
                                    <li><span>Services</span></li>
                                </ul>
                                <img class="bcrumb-ab" src="./assets/images/page/mask-bcrumb.png" alt="">
                            </div>
                        </div>

                    </div>
                </section>


                
                <section class="our-blog pd-main">
                    <div class="container">
                        <!-- First Row -->
                        <div class="row align-items-center mb-4">
                            <!-- Left side image -->
                            <div class="col-md-6">
                                <img src="./assets/images/page/Event Management.jpg" class="img-fluid" alt="Event Management Image" style="border-radius: 47px; margin-right: 20px;">
                            </div>
                            <!-- Right side content -->
                            <div class="col-md-6">
                                <h3 style="color: #26b7bc;">Event Management</h3>
                                <p>Planning a memorable event in Abu Dhabi? Trip Arabia’s event management service caters to all your needs, whether it's a private celebration, corporate gathering, or cultural event. Our team ensures that every detail is handled, making your event a success in the majestic setting of the desert.</p>
                            </div>
                        </div>
                
                        <!-- Second Row -->
                        <div class="row align-items-center mb-4">
                            <!-- Left side image -->
                            <div class="col-md-6">
                                <img src="./assets/images/page/Hotel Booking.jpg" class="img-fluid" alt="Hotel Booking Image" style="border-radius: 47px; margin-right: 20px;">
                            </div>
                            <!-- Right side content -->
                            <div class="col-md-6">
                                <h3 style="color: #26b7bc;">Hotel Booking</h3>
                                <p>Find the perfect accommodation with our seamless hotel booking service. From luxury stays to budget-friendly options, Trip Arabia offers a range of choices to match your preferences. We ensure you have a comfortable and welcoming place to rest after a day of adventure.</p>
                            </div>
                        </div>
                
                        <!-- Third Row -->
                        <div class="row align-items-center mb-4">
                            <!-- Left side image -->
                            <div class="col-md-6">
                                <img src="./assets/images/page/visa service.jpg" class="img-fluid" alt="Tour Packages Image" style="border-radius: 47px; margin-right: 20px;">
                            </div>
                            <!-- Right side content -->
                            <div class="col-md-6">
                                <h3 style="color: #26b7bc;">Visa Service</h3>
                                <p>Navigating visa requirements is easy with our expert visa services. We handle the paperwork and streamline the process, so you can focus on enjoying your vacation without the stress of legalities. Let us take care of your travel documents with efficiency and care.
                                    .</p>
                            </div>
                        </div>
                
                        <!-- Fourth Row -->
                        <div class="row align-items-center">
                            <!-- Left side image -->
                            <div class="col-md-6">
                                <img src="./assets/images/page/airport transfer.jpg" class="img-fluid" alt="Transportation Image" style="border-radius: 47px; margin-right: 20px;">
                            </div>
                            <!-- Right side content -->
                            <div class="col-md-6">
                                <h3 style="color: #26b7bc;">Airport Transfer
                                </h3>
                                <p>Experience hassle-free airport transfers with Trip Arabia. Our reliable service ensures a smooth ride from the airport to your destination, allowing you to focus on enjoying your trip. Comfort, safety, and punctuality are our priorities, offering you peace of mind from the moment you arrive.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                

              
         <%-include('../layouts/user/subfooter.ejs')%>

                
             

            </main>

            <%-include('../layouts/user/footer.ejs')%>


            <!-- Bottom -->
        </div>
        <!-- /#page -->
    </div>

    <!-- Modal Popup Bid -->

    <a id="scroll-top" class="button-go"></a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="logo-canvas">
                <img src="./assets/images/trip-arabia-logo-main.png" alt="image">
            </div>
            <p class="des">Discover Abu Dhabi like never before with Trip Arabia. We offer seamless experiences, from thrilling desert safaris to cultural adventures.
            </p>
            <ul class="canvas-info">
                <li class="flex-three">
                    <i class="icon-noun-mail-5780740-1"></i>
                    <p>Info@webmail.com</p>
                </li>
                <li class="flex-three">
                    <i class="icon-Group-9"></i>
                    <p>684 555-0102 490</p>
                </li>
                <li class="flex-three">
                    <i class="icon-Layer-19"></i>
                    <p>6391 Elgin St. Celina, NYC 10299</p>
                </li>
            </ul>
             <ul class="social flex-three">
                <li>
                    <a href="#">
                        <i class="icon-icon-2"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-x"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-8"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-6"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <!-- Javascript -->
    <script src="app/js/jquery.min.js"></script>
    <script src="app/js/jquery.nice-select.min.js"></script>
    <script src="app/js/bootstrap.min.js"></script>
    <script src="app/js/swiper-bundle.min.js"></script>
    <script src="app/js/swiper.js"></script>
    <script src="app/js/plugin.js"></script>
    <script src="app/js/jquery.fancybox.js"></script>
    <script src="app/js/shortcodes.js"></script>
    <script src="app/js/main.js"></script>

</body>

</html>